@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

:root {
  --mainblue: #40acf1;
  --transparentBlue: rgba(64, 172, 241, 0.7);
  --mainWhite: #ffffff;
  --mainBlack: #292f36;
  --mainGrey: rgb(216, 214, 214);
  --mainYellow: #e3b505;
}

body {
  font-family: "IranianSans";
  color: var(--mainBlack);
  background-color: var(--mainWhite);
  font-weight: 600;
  direction: rtl;
}
.rtl {
  direction: rtl;
}
/* Navbar link */
.navbar {
  direction: ltr;
}

.bar-icon {
  color: var(--mainBlack);
}

.navbar-nav {
  direction: rtl;
}

.nav-link {
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--mainBlack);
  transition: all 0.5s;
  width: 100px;
  text-align: center;
}
.nav-link:hover {
  color: var(--mainblue);
}
.nav-link a {
  width: 40px;
}

.nav-icons a {
  transition: all 0.5s;
  font-size: 1.5rem;
  margin: 0 5px;
}

.nav-icons a:hover {
  color: var(--mainblue);
}

.navbar-toggler {
  color: var(--mainblue);
  font-size: 2.5rem;
}

@media (max-width: 767px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: right;
  }
  .nav-link {
    text-align: right;
  }
}

/* Heading */

.header {
  overflow: hidden;
  clip-path: polygon(0 0, 0 90%, 50% 100%, 100% 90%, 100% 0);
}

.heigh-max {
  color: var(--mainWhite);
  min-height: calc(100vh - 76px);
  background: url(./Media/Sky/04-3x2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  animation: zoom 10s infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.12) translateX(-5%);
  }
  100% {
    transform: scale(1);
  }
}

.title-heading {
  border-left: 5px solid var(--mainblue);
}
.title {
  font-size: 1.9rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .title {
    font-size: 3rem;
  }
}
.title-icon {
  transition: all 0.25s;
}

.title-icon:hover {
  color: var(--mainblue);
  opacity: 0.9;
  display: inline-block;
}

/* Second sun title */
.second-sun {
  background-color: var(--mainblue);
  color: var(--mainWhite);
  padding: 5px 15px;
  clip-path: polygon(10% 0, 0 100%, 90% 100%, 100% 0);
  width: fit-content;
}

/* Our Solar systems Planets */

.planet-description img {
  width: 50px;
  border-radius: 50%;
}

.blue-line {
  display: block;
  border-bottom: var(--mainblue) solid 3px;
  width: 50px;
  margin: 0 auto;
}

.planet-description i {
  font-size: 3rem;
  padding: 1rem;
  border-radius: 50%;
  color: var(--mainYellow);
  background: var(--mainGrey);
}

.planet-description p {
  line-height: 2rem;
}

/* cards-section */
.card-section {
  background: var(--mainGrey);
}

.card-more-info {
  background-color: var(--mainblue);
  clip-path: polygon(15% 0, 0 100%, 100% 100%, 85% 0);
  height: fit-content;
  text-decoration: none;
  text-align: center;
  color: var(--mainWhite);
  transition: all 0.5s linear;
}

.card-more-info:hover {
  text-decoration: none;
  color: var(--mainWhite);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}
.card-footer a {
  color: var(--mainBlack);
}

/* Sun-Moon */
.Sun-Moon {
  overflow: hidden;
}
.Sun-Moon p {
  padding: 0;
  margin: 0;
  width: 50%;
}

.img-white-road {
  background: url(./Media/Sky/05-3x2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* height: 200px; */
  width: 100vw;
}

.Sun {
  background: rgba(227, 181, 5, 0.85);
  width: 400px;
  height: 100px;
  font-weight: bold;
  font-size: 1.5rem;
}
.Moon {
  background-color: rgba(41, 47, 54, 0.85);
  width: 400px;
  height: 100px;
  color: var(--mainWhite);
  font-weight: bold;
  font-size: 1.5rem;
}
.Sun-Moon i {
  color: var(--mainblue);
  font-size: 2.5rem;
  transition: all linear 0.3s;
}

.Sun-Moon i:hover {
  transform: translateY(-20%);
}

/* Search in the sky */

.Search-in-sky {
  background: var(--mainGrey);
}

.SIS-card {
  background: var(--mainWhite);
  border-radius: 5px;
  opacity: 0.5;
  transition: all 0.2s linear;
  cursor: pointer;
}

.SIS-card:hover {
  opacity: 1;
  transform: scale(1.02);
}

.SIS-card i {
  font-size: 1.2rem;
  color: var(--mainYellow);
}

.SIS-IS {
  background: var(--mainblue);
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
}
.SIS-img {
  transition: all 1s;
}

.SIS-IS:hover .SIS-img {
  opacity: 0.5;
  transform: scale(1.2);
}

.SIS-link {
  color: var(--mainBlack);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3rem;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s;
}

.SIS-IS:hover .SIS-link {
  opacity: 1;
}

.SIS-link:hover {
  color: var(--mainWhite);
}

/* Beauty in the sky */

.Beauty-in-sky {
  position: relative;
  background: var(--mainYellow);
}

.BS-img {
  transition: all 1s;
}

.Beauty-in-sky:hover .BS-img {
  opacity: 0.5;
}

.Beauty-in-sky::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: solid var(--mainWhite) 0.5rem;
  outline-offset: -2rem;
  opacity: 0;
  transition: all 1s;
  transform: scale(0);
}

.Beauty-in-sky:hover:after {
  transform: scale(1);
  opacity: 1;
}

/* Email form */

.Email-section {
  background: url(./Media/Sky/03-3x2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.Email-form {
  height: 100%;
}

.Email-input {
  background: rgba(41, 47, 54, 0.5);
  width: 50%;
  border: solid var(--mainYellow) 1px;
  font-weight: bold;
  direction: ltr;
  font-weight: bold;
  color: var(--mainYellow);
}

.Email-input::placeholder,
.Email-input:focus::placeholder {
  text-align: right;
  color: var(--mainYellow);
  font-weight: bold;
}

.Email-input:focus {
  background: rgba(41, 47, 54, 0.5);
  color: var(--mainYellow);
  direction: ltr;
  font-weight: bold;
  border: solid var(--mainYellow) 1px;
  box-shadow: none;
}

.form-submit {
  width: 50%;
  background: rgba(41, 47, 54, 0.5);
  border: solid var(--mainYellow) 1px;
  color: var(--mainYellow);
  font-weight: bold;
}

.form-submit:hover {
  background: var(--mainYellow);
  border: solid var(--mainYellow) 1px;
  color: var(--mainWhite);
  font-weight: bold;
}

/* Stars in the sky */

.stars-in-the-sky-box {
  height: 100vh;
}

.stars-in-the-sky {
  position: relative;
  height: 85vh;
  overflow: hidden;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  background-color: var(--mainblue);
}

.video-section {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video-section .video {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  object-fit: cover;
}

.stars-in-the-sky .card-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stars-in-the-sky .card-box .Card-a {
  width: 300px;
}

.stars-in-the-sky .grey-card {
  background-color: var(--mainBlack);
  color: var(--mainWhite);
  transition: all 0.5s linear;
}

.stars-in-the-sky .grey-card:hover {
  color: var(--mainBlack);
  background-color: var(--mainWhite);
}

.stars-in-the-sky .grey-card i {
  color: var(--mainYellow);
  font-size: 4rem;
}
